*{padding: 0; margin: 0; box-sizing: border-box;}

.globe{margin-right: 30px; width: 40px; border: 1px solid black;
height: 40px; margin-top: 25px; padding-left: 10px; padding-top: 5px; margin-left: 10px;
margin-top: 20px;}


#log{padding-top: 8px; padding-bottom: 8px; padding-left: 6px; font-weight: bolder;
padding-right: 6px; width: 90px; height: 40px; margin-left: 20px; margin-top: 20px;}
#sign{padding-top: 8px; padding-bottom: 8px; padding-left: 6px;
padding-right: 6px; width: 90px; height: 40px; margin-left:10px; margin-top: 20px;
background-color: black; color: white; font-weight: bolder;}

.navbar{display: flex;}
.header{display: flex; justify-content: left;}
.whiteUd{margin-top: 10px;}

.globe{margin-top: 20px; border: 1px solid black;
margin-bottom: 15px; width: 40px; padding-left: 10px; margin-right: 20px;
padding-right: 10px;}
.cate{margin-left: 20px; padding-top: 10px;}

form {height: 50px;
    margin-left: 20px; margin-top: 10px;
    width: 550px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgb(242, 245, 247);
}

.fa-solid {
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}
input {
    border: none;
    background-color: rgb(242, 245, 247);
}
.ud{margin-left: 20px; margin-top: 30px;}
.teach{margin-left: 20px; margin-top: 30px;}
.fa-sharp{margin-left: 20px; margin-top: 30px;}
.cate{margin-top: 15px;}

/*second section*/
.para1{margin-top: 50px; margin-left: 40px; font-size: 20px;}
.para2{font-size: 22px; margin-top: 10px; margin-left: 40px;}
.list{margin-top: 20px; margin-left: 25px;}
#para2{display: flex;}
.do{list-style-type: none; margin-left: 20px; font-weight: bold;
font-size: 18px; color: gray; font-family: Arial, Helvetica, sans-serif;}
#pyt{color: black; font-family: Arial, Helvetica, sans-serif; font-size: 18px;
font-weight: bold; list-style-type: none; margin-left: 14px;} 

h2{margin-top: 40px; margin-left: 50px; font-weight: bolder;}

.take{margin-top: 10px; width: 830px; margin-left: 50px; font-size: 18px;}

#explore{margin-left: 50px; margin-top: 15px; padding-top: 10px;
padding-bottom: 10px; padding-right: 8px; padding-left: 8px; font-weight: bolder;
margin-bottom: 30px;}

/*third section*/
.expand{border: 1px solid #222; margin-top: 20px; margin-left: 40px;
margin-right: 40px; margin-bottom: 80px; padding-bottom: 30px;}
.pytons{display: flex;}
.pyton1{margin-left: 40px;}
.pyton2{margin-left: 10px; margin-top: 8px;}
.pyton3{margin-left: 10px;}
.pyton4{margin-left: 10px;}
.pyton5{margin-left: 10px;}
.best{background-color: rgb(245, 245, 168); border: none; font-size: 12px;
padding: 4px;}
#p1,#p2,#p3,#p4,#p5{font-size: 18px; font-weight: bolder; width: 200px;}
.small{font-weight: lighter; font-size: 15px;}

/*section4*/
.play{display: flex; margin-left: 30px;}
.star{display: flex; margin-left: 100px;}
.simg{display: flex; margin-left: 100px;}
.sec4{display: flex; border: none; padding-top: 20px;
margin-bottom: 40px; background-color: whitesmoke}
#simg3{width: 320px;}
#star3{width: 320px}
#play3{width: 300px;}

/*section5*/

.img3{margin-top: 10px; margin-left: 30px; margin-bottom: 80px;}
#view{margin-top: 20px;}

/*sectin6*/
#top{margin-bottom: 20px;}
.firstset{display: flex; margin-left: 30px}
.hand{margin-left: 40px;}
.radio{margin-left: 40px}
.radio2{margin-left: 40px;}
.cartoon{margin-left: 40px;}

.secondset{display: flex; margin-top: 30px; margin-left: 30px; margin-bottom: 70px;}
.flower{margin-left: 40px;}
.read{margin-left: 40px}
.photo{margin-left: 50px}
.guitar{margin-left: 60px;}
.top{margin-bottom: 20px;}

/*section7*/

#feat{margin-left: 60px; padding-top: 50px;}
#topic{margin-left: 60px; padding: 10px; font-weight: bolder; margin-bottom: 50px; 
margin-top: 30px;}
.list{display: flex;}
.deve{margin-left: 35px;}
.bus{margin-left: 180px;}
.soft{margin-left: 180px;}
.desg{margin-left: 180px;}
.a{font-size: 20px; font-weight: bolder;}
.b{margin-top: 20px; font-size: 18px; color: blueviolet; text-decoration: underline;
font-weight: bolder;}
.c{margin-top: 10px; font-weight: lighter;}
.sec7{background-color: rgb(224, 228, 230);}


/*section8*/

.sec8{display: flex; justify-content: space-around;}
.pman{width: 500px; margin-top: 170px; }
.man{margin-top: 80px; margin-left: 200px; margin-bottom: 80px;}
.be{font-size: 30px; font-weight: bolder; margin-bottom: 20px;}
.around{font-size: 20px; width: 400px; margin-bottom: 20px;}
#today{padding: 10px; background-color: black; color: white; font-weight: bolder;}


/*section 9*/

#trust{text-align: center; padding-top: 20px;}
#lead{text-align: center; margin-top: 10px; font-size: 20px;}
.sec9{background-color: whitesmoke;}

/*section10*/
#getud{width: 380px; font-size: 20px;}
.sec10{display: flex; justify-content: space-around;}
.woman{margin-right: 100px; margin-top: 10px; margin-bottom: 40px;}
.udb{margin-top: 90px; margin-left: 100px;}
#gub{padding: 10px; background-color: black; color: white; font-weight: bolder;
margin-top: 20px;}

/*section11*/

.sec11{display: flex; margin-bottom: 100px; }
.life{width: 300px; margin-top: 80px; }
#field{width: 400px; font-size: 20px; margin-top: 20px;}
.person{margin-left: 250px;}
.tran{margin-left: 100px;}
#out{padding: 10px; background-color: black; color: white; font-weight: bolder;
margin-top: 10px;}



/*footer*/

.footer{display: flex; padding-top: 20px;}
li{list-style: none;}
.one{margin-left: 50px; line-height: 26px; color: white;}
.two{margin-left: 200px; line-height: 26px; color: white;}
.three{margin-left: 200px; line-height: 26px; color: white;}
.ime{margin-top: 70px; margin-left: 50px; padding-bottom: 30px;}
.eng{margin-left: 300px;}
footer{background-color: rgb(19, 17, 17);}
.right{display: flex; justify-content: space-between}
.copy{color: white; margin-right: 70px; margin-top: 70px; padding-bottom: 30px;}













































